.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.footer1-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
.footer1-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: center;
}
.footer1-image {
  width: 228px;
  align-self: center;
  object-fit: cover;
}
.footer1-image1 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}

@media(max-width: 991px) {
  .footer1-container {
    padding: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .footer1-container {
    flex-direction: column;
  }
}

.explorethe-kennels-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-900);
}
.explorethe-kennels-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.explorethe-kennels-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: center;
  background-color: hsla(0,0%,100%,.8)!important;
}
.explorethe-kennels-container1 {
  top: 19px;
  left: 24px;
  color: var(--dl-color-gray-black);
  right: 0px;
  width: 80%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.explorethe-kennels-link {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.explorethe-kennels-menu {
  top: -7px;
  flex: 0 0 auto;
  left: 397px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
}
.explorethe-kennels-link1 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.explorethe-kennels-link1:hover {
  color: var(--dl-color-gray-500);
}
.explorethe-kennels-navlink {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.explorethe-kennels-navlink:hover {
  color: var(--dl-color-gray-500);
}
.explorethe-kennels-navlink1 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.explorethe-kennels-navlink1:hover {
  color: var(--dl-color-gray-500);
}
.explorethe-kennels-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.explorethe-kennels-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.explorethe-kennels-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.explorethe-kennels-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.explorethe-kennels-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.explorethe-kennels-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.explorethe-kennels-navlink2 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.explorethe-kennels-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.explorethe-kennels-icon2 {
  width: 24px;
  height: 24px;
}
.explorethe-kennels-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.explorethe-kennels-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.explorethe-kennels-link2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.explorethe-kennels-link2:hover {
  color: var(--dl-color-gray-500);
}
.explorethe-kennels-navlink3 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.explorethe-kennels-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.explorethe-kennels-navlink4 {
  transition: 0.3s;
  text-decoration: none;
}
.explorethe-kennels-navlink4:hover {
  color: var(--dl-color-gray-500);
}
.explorethe-kennels-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.explorethe-kennels-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 111px;
  flex-direction: column;
  justify-content: center;
}
.explorethe-kennels-main {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
  position: relative;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.explorethe-kennels-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explorethe-kennels-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.explorethe-kennels-text01 {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  text-align: center;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.explorethe-kennels-text02 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.explorethe-kennels-text04 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.explorethe-kennels-textinput {
  width: 81px;
  height: 42px;
  margin-bottom: 14px;
}
.explorethe-kennels-button {
  color: var(--dl-color-gray-white);
  width: 239px;
  height: 100%;
  outline: none;
  font-size: 1rem;
  align-self: center;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  font-style: italic;
  text-align: center;
  transition: all .15s ease-in;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 1.625;
  padding-top: 17px;
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  margin-bottom: 16px;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: none;
  text-decoration: none;
}
.explorethe-kennels-kennel-main-picture {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explorethe-kennels-text07 {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  align-self: center;
  text-align: center;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.explorethe-kennels-container7 {
  flex: 0 0 auto;
  width: 1181px;
  height: 298px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.explorethe-kennels-image {
  width: 155px;
  height: 136px;
  object-fit: cover;
  margin-left: 698px;
}
.explorethe-kennels-kennel-picture {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.explorethe-kennels-text10 {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  text-align: center;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.explorethe-kennels-image1 {
  width: 100%;
  height: 298px;
  object-fit: cover;
  margin-bottom: 15px;
}
.explorethe-kennels-image2 {
  width: 100%;
  height: 298px;
  object-fit: cover;
  margin-bottom: 15px;
}
@media(max-width: 991px) {
  .explorethe-kennels-nav {
    max-width: 960px;
  }
  .explorethe-kennels-menu {
    display: none;
  }
  .explorethe-kennels-container4 {
    background-size: auto;
  }
  .explorethe-kennels-main {
    justify-content: center;
  }
  .explorethe-kennels-container5 {
    width: 70%;
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-tripleunit);
  }
  .explorethe-kennels-container7 {
    width: 940px;
    height: 276px;
  }
  .explorethe-kennels-image {
    width: 103px;
    height: 50%;
    margin-left: 681px;
  }
}
@media(max-width: 767px) {
  .explorethe-kennels-burger-menu {
    display: flex;
  }
  .explorethe-kennels-container5 {
    width: 100%;
  }
  .explorethe-kennels-container7 {
    width: 743px;
    height: 241px;
  }
  .explorethe-kennels-image {
    width: 107px;
    height: 50%;
    margin-left: 432px;
  }
}
@media(max-width: 479px) {
  .explorethe-kennels-container3 {
    display: none;
  }
  .explorethe-kennels-container7 {
    width: 467px;
    height: 226px;
  }
  .explorethe-kennels-image {
    margin-left: 287px;
  }
}
