 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    object-position: 97.43% 50%;
    filter: brightness(0.8);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 616px;
}

.u-section-2 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: 16px 387px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 570px 0 0;
}

.u-section-2 .u-image-1 {
  width: 442px;
  height: 442px;
  background-image: url("images/2d70fd43-d890-4b5d-97d3-de5fa3a839a6.png");
  background-position: 50% 50%;
  margin: -484px 64px 58px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 830px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.125rem;
    width: auto;
    margin-right: 188px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 375px;
    height: 375px;
    margin: 28px auto 16px 463px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 17px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-2 .u-image-1 {
    width: 452px;
    height: 452px;
    margin-top: 25px;
    margin-left: auto;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1097px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.8125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: 164px;
    margin-right: 164px;
  }

  .u-section-2 .u-image-1 {
    width: 459px;
    height: 459px;
    margin-bottom: 0;
    margin-left: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-image-1 {
    height: 373px;
    width: 373px;
    margin-top: 45px;
    margin-left: auto;
    margin-bottom: 45px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 244px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: abril-fatface;
  line-height: 1.2;
  font-size: 3rem;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 9px auto 17px calc(((100% - 1200px) / 2) + 391px);
  padding: 15px 62px 15px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 22px;
    padding: 19px 61px 21px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 11px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 23px;
    margin-left: auto;
    margin-bottom: 24px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 570px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 16px 16px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 6px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 126px;
  height: 126px;
  margin: 16px auto 16px 587px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 101px;
    height: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 28px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 13px;
    margin-right: 16px;
    margin-bottom: 49px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 530px;
}

.u-section-5 .u-image-1 {
  width: 968px;
  height: 499px;
  margin: 15px auto 14px;
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    height: auto;
    margin: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-5 .u-image-1 {
    width: 767px;
    height: auto;
    margin: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-5 .u-image-1 {
    width: 575px;
    height: auto;
    margin: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 334px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  text-align: left;
  margin: 16px 0 0;
}

.u-section-6 .u-text-2 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  line-height: 36px;
  margin: 10px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-text-2 {
    line-height: 1;
    margin: 26px 19px 27px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 688px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 682px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  font-size: 3.75rem;
  margin: 32px 30px 0;
}

.u-section-7 .u-image-1 {
  width: 238px;
  height: 238px;
  background-image: url("images/044667c4-de12-48fd-b6c5-5c90fa101911.jpg");
  background-position: 50% 50%;
  margin: 83px auto 0 104px;
}

.u-section-7 .u-image-2 {
  width: 238px;
  height: 238px;
  background-image: url("images/044667c4-de12-48fd-b6c5-5c90fa101911.jpg");
  background-position: 50% 50%;
  margin: -238px 83px 0 auto;
}

.u-section-7 .u-image-3 {
  width: 238px;
  height: 238px;
  background-image: url("images/2d70fd43-d890-4b5d-97d3-de5fa3a839a6.png");
  background-position: 50% 50%;
  margin: -238px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 36px;
  margin: 59px 782px 0 28px;
}

.u-section-7 .u-text-3 {
  line-height: 36px;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  width: 330px;
  margin: -144px auto 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 36px;
  margin: -144px 28px 0 781px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1309px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 537px;
    margin-left: 51px;
  }

  .u-section-7 .u-image-2 {
    margin-right: 51px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 149px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 377px;
    margin-right: 5px;
    margin-left: 605px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 864px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 516px;
    margin-right: 51px;
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: -754px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 20px;
    margin-right: 51px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -449px;
    margin-right: 369px;
    margin-left: 20px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 114px;
    margin-right: 370px;
    margin-left: 20px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 114px;
    margin-right: 369px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1309px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 868px;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: -1086px;
    margin-right: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: 186px;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.375rem;
    width: 331px;
    margin-top: -402px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.375rem;
    width: 330px;
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    font-size: 2.375rem;
    width: 331px;
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1304px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 18px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 844px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -1066px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 176px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -398px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 270px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 270px;
  }
}