 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 1186px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 1000px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 774px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 594px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 616px;
}

.u-section-2 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: 16px 387px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 570px 0 0;
}

.u-section-2 .u-image-1 {
  width: 442px;
  height: 442px;
  background-image: url("images/ce6825cc-4257-4afd-84be-18afcd7b0ee9.png");
  background-position: 50% 50%;
  margin: -484px 64px 58px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.125rem;
    width: auto;
    margin-right: 187px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 375px;
    height: 375px;
    margin-top: 28px;
    margin-right: auto;
    margin-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-2 {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 452px;
    height: 452px;
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.8125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 459px;
    height: 459px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 442px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 294px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: abril-fatface;
  line-height: 1.2;
  font-size: 3rem;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 9px auto 17px;
  padding: 15px 62px 15px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 22px;
    padding: 19px 61px 21px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 570px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 16px 16px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 6px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 126px;
  height: 126px;
  margin: 16px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-shape-1 {
    width: 101px;
    height: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-image-1 {
  min-height: 705px;
  background-image: url("images/5779df86-02f3-468c-99c7-fc5f0109da2f.jpg");
  background-position: 50% 81.55%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    min-height: 581px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    min-height: 445px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    min-height: 334px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 288px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  text-align: left;
  margin: 16px 0 0;
}

.u-section-6 .u-text-2 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 10px 0 16px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 548px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 2px;
  margin-bottom: 16px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 530px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  font-size: 3.75rem;
  margin: 16px 60px 0 0;
}

.u-section-7 .u-image-1 {
  width: 238px;
  height: 238px;
  background-image: url("images/e8242933-21eb-4437-bf82-879a52031a0c.jpg");
  background-position: 50% 50%;
  margin: 21px 75px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 238px;
  height: 238px;
  background-image: url("images/ce6825cc-4257-4afd-84be-18afcd7b0ee9.png");
  background-position: 50% 50%;
  margin: -238px auto 0;
}

.u-section-7 .u-image-3 {
  width: 238px;
  height: 238px;
  background-image: url("images/e8242933-21eb-4437-bf82-879a52031a0c.jpg");
  background-position: 50% 50%;
  margin: -238px auto 0 75px;
}

.u-section-7 .u-text-2 {
  line-height: 36px;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  width: 330px;
  margin: 51px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 36px;
  margin: -144px 781px 0 29px;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 36px;
  margin: -144px 28px 0 781px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 16px;
    margin-right: 51px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 51px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 40px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 605px;
    margin-left: 5px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: 5px;
    margin-left: 605px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 858px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-image-1 {
    margin-top: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: 20px;
    margin-right: 51px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 20px;
    margin-right: 51px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -449px;
    margin-right: 370px;
    margin-left: 20px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -402px;
    margin-right: 369px;
    margin-left: 20px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 372px;
    margin-right: 369px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1320px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: 186px;
    margin-right: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: 186px;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.375rem;
    width: 330px;
    margin-top: -402px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.375rem;
    width: 331px;
    margin-top: -568px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    font-size: 2.375rem;
    width: 331px;
    margin: 704px auto -4px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1309px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 5px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 16px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 180px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 180px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -562px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 692px;
  }
}