.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #000000;
}
.navigation-links-text1 {
  color: #000000;
  margin-left: 32px;
}
.navigation-links-text2 {
  color: #000000;
  margin-left: 32px;
}
.navigation-links-text3 {
  color: #000000;
  margin-left: 32px;
}
.navigation-links-text4 {
  color: #000000;
  margin-left: 32px;
}









.rootClassName10 {
  align-self: flex-end;
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: 159px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  padding-top: 1.5rem;
  margin-bottom: 0.75rem;
  flex-direction: row;
  padding-bottom: 1.5rem;
  justify-content: space-between;
}
.header-image {
  width: 213px;
  height: 142px;
  align-self: center;
  object-fit: cover;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon {
  width: 24px;
  height: 24px;
}
.header-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-heading {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-close-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon2 {
  width: 24px;
  height: 24px;
}
.header-mid {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rootClassName {
  height: 100%;
  margin-bottom: 0px;
  background-color: #ffffff;
}
.rootClassName1 {
  height: 100%;
}
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
  .header-image {
    width: 239px;
    height: 140px;
  }
  .rootClassName1 {
    background-color: #ffffff;
  }
}
@media(max-width: 767px) {
  .header-header {
    background-color: var(--dl-color-gray-white);
  }
  .header-image {
    width: 221px;
    height: 138px;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-container {
    display: none;
    align-items: flex-start;
  }
  .rootClassName {
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .header-image {
    width: 222px;
    height: 138px;
  }
  .header-mobile-menu {
    width: 478px;
    height: 408px;
    display: none;
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .rootClassName {
    width: 100%;
    height: 100%;
  }
}

.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.footer-image {
  width: 366px;
  height: 223px;
  object-fit: cover;
}
.rootClassName {
  height: 100%;
  align-self: center;
  background-color: #ffffff;
}
@media(max-width: 479px) {
  .footer-container {
    align-items: center;
    justify-content: center;
  }
  .footer-image {
    width: 187px;
    height: 115px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 705px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}
.home-section1 {
  width: 100%;
  height: 560px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #ffffff;
}
.home-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-items: center;
  flex-direction: column;
}
.home-container2 {
  width: 66%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: 38px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: 0px;
}
.home-text01 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-twoandhalf);
}
.home-hero1 {
  width: 100%;
  height: 849px;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1400px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 80vh;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
.home-container3 {
  flex: 0 0 auto;
  width: 830px;
  height: 750px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 15px;
  align-items: center;
  justify-content: flex-start;
}
.home-feature-card {
  width: 359px;
  height: 231px;
  display: flex;
  padding: 32px;
  box-shadow: 0 10px 15px -3px rgba(0.1,0.1,0.1,0.1),0 4px 6px -2px rgba(0.1,0.1,0.1,0.05);
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-text05 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-image {
  right: -160px;
  width: 282px;
  bottom: -259px;
  height: 263px;
  position: absolute;
  object-fit: cover;
}
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 15px;
  align-items: center;
  justify-content: flex-start;
}
.home-feature-card1 {
  width: 359px;
  height: 231px;
  display: flex;
  padding: 32px;
  box-shadow: 0 10px 15px -3px rgba(0.1,0.1,0.1,0.1),0 4px 6px -2px rgba(0.1,0.1,0.1,0.05);
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-text10 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-image1 {
  top: -249px;
  left: 460px;
  width: 282px;
  height: 263px;
  position: absolute;
  object-fit: cover;
}
.home-image2 {
  left: 461px;
  width: 282px;
  bottom: 3px;
  height: 263px;
  position: absolute;
  object-fit: cover;
}
.home-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 231px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-feature-card2 {
  left: 0px;
  width: 359px;
  bottom: -18px;
  height: 231px;
  display: flex;
  padding: 32px;
  position: absolute;
  box-shadow: 0 10px 15px -3px rgba(0.1,0.1,0.1,0.1),0 4px 6px -2px rgba(0.1,0.1,0.1,0.05);
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-text15 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text19 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-section2 {
  width: 100%;
  height: 570px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: 41px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #ffffff;
}
.home-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text20 {
  color: var(--dl-color-secondary-400);
  text-align: center;
  line-height: 2.5rem;
  background-color: #ffffff;
}
.home-text21 {
  font-weight: 700;
  white-space: normal;
}
.home-container8 {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text22 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-twoandhalf);
}
.home-hero2 {
  width: 100%;
  height: 650px;
  display: flex;
  position: relative;
  max-width: 1400px;
  min-height: 0vh;
  align-items: flex-end;
  padding-left: 48px;
  padding-right: 35px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
.home-image3 {
  top: 54px;
  left: 48px;
  width: 400px;
  position: absolute;
  object-fit: cover;
}
.home-text26 {
  top: var(--dl-space-space-tripleunit);
  left: 715px;
  color: var(--dl-color-secondary-400);
  position: absolute;
  text-align: center;
}
.home-text27 {
  top: 7rem;
  color: var(--dl-color-secondary-700);
  right: 80px;
  width: 50%;
  position: absolute;
  text-align: center;
}
.home-text28 {
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.home-hero3 {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text29 {
  left: 77px;
  bottom: 3px;
  position: absolute;
  font-size: 3rem;
  max-width: 450px;
}
.home-image4 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1199px;
  bottom: 0px;
  height: 693px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-section1 {
    height: 649px;
  }
  .home-container1 {
    height: 1486px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-container2 {
    height: 613px;
  }
  .home-hero1 {
    flex-direction: column;
  }
  .home-container3 {
    width: 925px;
  }
  .home-container4 {
    width: 895px;
  }
  .home-feature-card {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .home-image {
    right: -26px;
    bottom: -260px;
  }
  .home-container5 {
    width: 895px;
  }
  .home-feature-card1 {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .home-image1 {
    top: -256px;
    left: 400px;
  }
  .home-image2 {
    left: 400px;
    bottom: 4px;
  }
  .home-feature-card2 {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .home-section2 {
    width: 991px;
    height: 669px;
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-doubleunit);
    background-color: #ffffff;
  }
  .home-text20 {
    text-align: center;
  }
  .home-hero2 {
    width: 100%;
    flex-direction: column;
  }
  .home-image3 {
    height: 562px;
  }
  .home-text26 {
    top: 24px;
    right: -4px;
    width: 243px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: 150px;
  }
  .home-text27 {
    top: auto;
    right: 22px;
    bottom: var(--dl-space-space-unit);
  }
  .home-hero3 {
    flex-direction: column;
  }
  .home-text29 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container2 {
    width: 100%;
    height: 585px;
    margin-bottom: 0px;
  }
  .home-hero1 {
    max-width: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container3 {
    width: 704px;
  }
  .home-container4 {
    width: 723px;
    position: relative;
    margin-right: 0px;
  }
  .home-feature-card {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .home-image {
    left: 399px;
    width: 227px;
    bottom: -269px;
    height: 248px;
  }
  .home-container5 {
    width: 723px;
    position: relative;
    margin-right: 0px;
  }
  .home-feature-card1 {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .home-image1 {
    width: 227px;
    height: 248px;
  }
  .home-image2 {
    left: 400px;
    width: 227px;
    bottom: -25px;
    height: 248px;
  }
  .home-container6 {
    position: relative;
  }
  .home-feature-card2 {
    left: 5px;
    bottom: -27px;
    position: absolute;
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .home-section2 {
    width: 100%;
    height: 573px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-container8 {
    width: 100%;
    height: 471px;
  }
  .home-hero2 {
    width: 100%;
    height: 1062px;
    position: relative;
    max-width: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0px;
  }
  .home-image3 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 497px;
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .home-text26 {
    top: 499px;
    right: 267px;
    position: static;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: 0px;
  }
  .home-text27 {
    top: 575px;
    left: auto;
    right: auto;
    width: 75%;
    bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .home-hero3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-image4 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .home-hero {
    height: 425px;
  }
  .home-section1 {
    height: 894px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-container1 {
    height: 851px;
  }
  .home-container2 {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text {
    width: 100%;
  }
  .home-text01 {
    width: 100%;
    height: 110%;
  }
  .home-hero1 {
    height: 893px;
    align-self: center;
    align-items: center;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    justify-content: center;
  }
  .home-container3 {
    width: 438px;
    height: 843px;
    position: relative;
    justify-content: center;
  }
  .home-container4 {
    width: 100%;
  }
  .home-feature-card {
    width: 100%;
    height: 241px;
    align-self: center;
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
    margin-bottom: 15px;
  }
  .home-image {
    display: none;
  }
  .home-container5 {
    width: 100%;
    margin-bottom: 15px;
  }
  .home-feature-card1 {
    flex: 1;
    width: 100%;
    height: 241px;
    align-self: center;
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
    margin-bottom: 0px;
  }
  .home-image1 {
    display: none;
  }
  .home-image2 {
    display: none;
  }
  .home-feature-card2 {
    width: 435px;
    height: 241px;
    align-self: center;
    margin-top: 0px;
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .home-section2 {
    height: 948px;
    padding-bottom: 0px;
  }
  .home-container8 {
    height: 50%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-hero2 {
    width: 100%;
    height: 1406px;
    max-width: auto;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .home-image3 {
    width: 100%;
    position: static;
  }
  .home-text26 {
    margin-top: var(--dl-space-space-twoandhalf);
    margin-bottom: auto;
  }
  .home-text27 {
    right: 59px;
    bottom: 54px;
    margin-top: 4rem;
    margin-left: auto;
  }
  .home-hero3 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-image4 {
    top: 0px;
    left: 0px;
    width: 100%;
  }
}
