 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ere4e4-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 908px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 16.96% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 271px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 671px;
}

.u-section-2 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Sora;
  margin: 17px 388px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 17px 570px 0 0;
}

.u-section-2 .u-image-1 {
  width: 442px;
  height: 442px;
  background-image: url("images/Cattemplate.jpg");
  background-position: 50% 50%;
  margin: -484px 64px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.125rem;
    width: auto;
    margin-top: 37px;
    margin-right: 188px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 370px;
  }

  .u-section-2 .u-image-1 {
    width: 375px;
    height: 375px;
    margin-top: -457px;
    margin-right: 0;
    margin-bottom: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-2 {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 452px;
    height: 452px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.8125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 459px;
    height: 459px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 458px;
}

.u-section-3 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: abril-fatface;
  line-height: 1.2;
  margin: 64px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 53px auto 60px;
  padding: 15px 62px 15px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 581px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 2px 0 33px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  font-size: 3.75rem;
  margin: 9px 60px 0 0;
}

.u-section-4 .u-image-1 {
  width: 238px;
  height: 238px;
  background-image: url("images/c5e02fce-c0d2-0d86-c803-4283c6a5fc9f.jpg");
  background-position: 50% 50%;
  margin: 28px 75px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 238px;
  height: 238px;
  background-image: url("images/c5e02fce-c0d2-0d86-c803-4283c6a5fc9f.jpg");
  background-position: 50% 50%;
  margin: -238px auto 0;
}

.u-section-4 .u-image-3 {
  width: 238px;
  height: 238px;
  background-image: url("images/c5e02fce-c0d2-0d86-c803-4283c6a5fc9f.jpg");
  background-position: 50% 50%;
  margin: -238px auto 0 75px;
}

.u-section-4 .u-text-2 {
  line-height: 36px;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  width: 330px;
  margin: 51px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 36px;
  margin: -144px 781px 0 28px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 36px;
  margin: -144px 28px 0 781px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-right: 51px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 51px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 605px;
    margin-left: 5px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 5px;
    margin-left: 605px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 858px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: 51px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: 51px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -420px;
    margin-right: 381px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -402px;
    margin-right: 380px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 372px;
    margin-right: 380px;
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1416px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1416px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 684px;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: -698px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.375rem;
    width: 330px;
    margin-top: 481px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.375rem;
    width: 331px;
    margin-top: -1065px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.375rem;
    width: 331px;
    margin-top: 317px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1309px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 5px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 180px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 180px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -402px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -562px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 692px;
    margin-left: 5px;
    margin-right: 5px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 552px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 9px 32px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 3px 0 0;
}

.u-section-5 .u-shape-1 {
  width: 126px;
  height: 126px;
  margin: -57px auto 9px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-5 .u-shape-1 {
    width: 101px;
    height: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 1087px;
}

.u-section-6 .u-group-1 {
  width: 1011px;
  min-height: 318px;
  margin: 50px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-container-layout-1 {
  padding: 28px 30px 28px 0;
}

.u-section-6 .u-text-1 {
  font-family: Sora;
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 22px 1px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-image-1 {
  height: 719px;
  object-position: 50% 81.55%;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 990px;
  }

  .u-section-6 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 622px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 878px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-1 {
    font-size: 2.625rem;
  }

  .u-section-6 .u-image-1 {
    height: 510px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 803px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-1 {
    height: 435px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 708px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-image-1 {
    height: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 458px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  text-align: left;
  margin: 9px 0 0;
}

.u-section-7 .u-text-2 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0 60px;
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1213px;
}

.u-section-8 .u-text-1 {
  font-size: 3.4375rem;
  margin: 60px 309px 0 0;
}

.u-section-8 .u-shape-1 {
  width: 80px;
  height: 80px;
  margin: 807px auto 0 0;
}

.u-section-8 .u-shape-2 {
  width: 643px;
  height: 643px;
  margin: -839px auto 0 95px;
}

.u-section-8 .u-image-1 {
  width: 587px;
  height: 587px;
  background-image: url("images/ssd.jpg");
  background-position: 50% 50%;
  margin: -610px auto 0 0;
}

.u-section-8 .u-group-1 {
  width: 583px;
  min-height: 348px;
  margin: -113px 0 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding-bottom: 3px;
}

.u-section-8 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 22px 416px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 600;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 12px 42px 12px 41px;
}

.u-section-8 .u-shape-3 {
  width: 180px;
  height: 180px;
  margin: -790px 345px 670px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.8125rem;
    width: auto;
    margin-right: 77px;
  }

  .u-section-8 .u-shape-1 {
    width: 74px;
    height: 73px;
    margin-top: 719px;
    margin-left: 17px;
  }

  .u-section-8 .u-shape-2 {
    width: 549px;
    height: 549px;
    margin-top: -745px;
    margin-left: 77px;
  }

  .u-section-8 .u-image-1 {
    width: 531px;
    height: 531px;
    margin-top: -516px;
  }

  .u-section-8 .u-group-1 {
    width: 554px;
    margin-top: -57px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 387px;
  }

  .u-section-8 .u-shape-3 {
    width: 146px;
    height: 146px;
    margin-top: -838px;
    margin-right: 65px;
    margin-bottom: 752px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-shape-1 {
    width: 90px;
    height: 90px;
    margin-top: 700px;
    margin-left: 0;
  }

  .u-section-8 .u-shape-2 {
    width: 494px;
    height: 494px;
    margin-top: -723px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    width: 461px;
    height: 461px;
    margin-top: -461px;
  }

  .u-section-8 .u-group-1 {
    width: 415px;
    min-height: 428px;
    margin-top: -56px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 248px;
  }

  .u-section-8 .u-shape-3 {
    width: 134px;
    height: 134px;
    margin-top: -879px;
    margin-right: 0;
    margin-bottom: 805px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1396px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 990px;
  }

  .u-section-8 .u-shape-2 {
    height: 315px;
    width: 315px;
    margin-top: -970px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-8 .u-image-1 {
    width: 305px;
    height: 305px;
    margin-top: -294px;
  }

  .u-section-8 .u-group-1 {
    min-height: 504px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-3 {
    margin-right: 173px;
  }

  .u-section-8 .u-shape-3 {
    width: 116px;
    height: 116px;
    margin-top: -904px;
    margin-bottom: 964px;
  }
}