.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.footer1-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
.footer1-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: center;
}
.footer1-image {
  width: 228px;
  align-self: center;
  object-fit: cover;
}
.footer1-image1 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .footer1-container {
    padding: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .footer1-container {
    flex-direction: column;
  }
}

.index-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.index-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.index-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: center;
  background-color: hsla(0,0%,100%,.8)!important;
}
.index-container01 {
  top: 19px;
  left: 24px;
  color: var(--dl-color-gray-black);
  right: 0px;
  width: 80%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-link {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.index-menu {
  top: -7px;
  flex: 0 0 auto;
  left: 397px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
}
.index-link1 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.index-link1:hover {
  color: var(--dl-color-gray-500);
}
.index-navlink {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.index-navlink:hover {
  color: var(--dl-color-gray-500);
}
.index-link2 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.index-link2:hover {
  color: var(--dl-color-gray-500);
}
.index-container02 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-container03 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.index-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.index-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-navlink1 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.index-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-icon02 {
  width: 24px;
  height: 24px;
}
.index-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.index-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.index-navlink2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.index-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.index-navlink3 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.index-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.index-navlink4 {
  transition: 0.3s;
  text-decoration: none;
}
.index-navlink4:hover {
  color: var(--dl-color-gray-500);
}
.index-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.index-t-o-p1 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.index-t-o-p-main {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.index-welcome {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.index-w-header-1 {
  width: 278px;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-w-header2 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: 16px;
}
.index-w-main {
  color: var(--dl-color-secondary-600);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
}
.index-w-buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.index-container04 {
  display: flex;
  position: relative;
  margin-right: 42px;
}
.index-navlink5 {
  color: var(--dl-color-gray-white);
  outline: none;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-decoration: none;
}
.index-navlink5:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.index-container05 {
  display: flex;
  position: relative;
}
.index-navlink6 {
  color: var(--dl-color-gray-white);
  width: 143px;
  outline: none;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-decoration: none;
}
.index-navlink6:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.index-w-backing {
  top: 0px;
  left: auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 80vh;
  position: absolute;
  object-fit: cover;
  object-position: right;
  border-bottom-left-radius: 10rem;
}
.index-features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
}
.index-container06 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.index-image {
  height: 30px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.index-text04 {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text05 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.index-container07 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.index-image01 {
  height: 30px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.index-text06 {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text07 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.index-container08 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.index-image02 {
  height: 30px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.index-text08 {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text09 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.index-container09 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.index-image03 {
  height: 30px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.index-text10 {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text11 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.index-roadmap {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: 7px;
}
.index-container10 {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.index-text12 {
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-text13 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.index-text14 {
  max-width: 600px;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text15 {
  color: rgb(103, 116, 142);
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.index-r-image {
  width: 1048px;
  height: 497px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  transition: initial;
  border-radius: var(--dl-radius-radius-radius75);
}
.index-r-main {
  flex: 0 0 auto;
  width: 953px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.index-r-text {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-text16 {
  width: 100%;
  height: 100%;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-text17 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.index-text18 {
  width: 80%;
  height: 100%;
  align-self: center;
  text-align: center;
}
.index-text19 {
  font-weight: 700;
}
.index-text26 {
  font-weight: 700;
}
.index-text30 {
  font-weight: 700;
}
.index-text36 {
  font-weight: 700;
}
.index-text42 {
  font-weight: 700;
}
.index-t-o-a {
  flex: 0 0 auto;
  width: 276px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: 16px;
  flex-direction: column;
}
.index-t-o-a-heading {
  width: 100%;
  height: 100%;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-text46 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.index-t-o-a-1 {
  width: 276px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
}
.index-text47 {
  width: 100%;
  height: 100%;
}
.index-icon04 {
  fill: var(--dl-color-primary-700);
  width: 24px;
  height: 24px;
  margin-top: 15px;
}
.index-t-o-a-2 {
  width: 276px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
}
.index-text50 {
  width: 100%;
  height: 54px;
}
.index-icon06 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-top: 15px;
}
.index-t-o-a-3 {
  flex: 0 0 auto;
  width: 276px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 105px;
}
.index-text53 {
  width: 100%;
  height: 54px;
}
.index-icon08 {
  fill: var(--dl-color-primary-100);
  width: 24px;
  height: 24px;
  margin-top: 15px;
}
.index-t-o-a-4 {
  flex: 0 0 auto;
  width: 276px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
}
.index-text56 {
  width: 100%;
  height: 54px;
}
.index-icon10 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-top: 15px;
}
.index-t-o-a-5 {
  flex: 0 0 auto;
  width: 276px;
  height: 54px;
  display: flex;
  align-items: flex-start;
}
.index-text59 {
  width: 100%;
  height: 54px;
}
.index-icon12 {
  fill: var(--dl-color-primary-700);
  width: 24px;
  height: 24px;
  margin-top: 15px;
}
.index-tech {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.index-t-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  align-items: center;
  padding-top: 15rem;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: 15rem;
  justify-content: center;
}
.index-container11 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-t-text {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 600px;
  max-height: 100%;
  min-height: 100%;
  align-items: flex-start;
  margin-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.index-text62 {
  color: var(--dl-color-gray-white);
}
.index-text64 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-text65 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-text69 {
  color: var(--dl-color-gray-white);
}
.index-text70 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
}
.index-t-image {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.index-container12 {
  flex: 0 0 auto;
  display: flex;
  min-width: 400px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.index-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.index-container14 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.index-image04 {
  width: 100%;
}
.index-container15 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.index-image05 {
  width: 100%;
}
.index-container16 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.index-image06 {
  width: 100%;
}
.index-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.index-container18 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.index-image07 {
  width: 100%;
  object-fit: cover;
}
.index-container19 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.index-image08 {
  width: 100%;
}
.index-container20 {
  width: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.index-image09 {
  width: 100%;
}
.index-container21 {
  flex: 0 0 auto;
  width: 50%;
  height: 70px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-container22 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.index-image10 {
  width: 100%;
}
.index-container23 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.index-image11 {
  width: 100%;
  object-fit: cover;
}
.index-bottom-wave-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -5px;
  position: absolute;
  object-fit: cover;
}
.index-image12 {
  top: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.index-top-wave-image {
  top: -5px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.index-k-and-p-a {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.index-k-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-k-symbol {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius75);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.index-icon14 {
  fill: var(--dl-color-gray-800);
  width: 24px;
  height: 24px;
}
.index-text71 {
  margin-top: var(--dl-space-space-unitandahalfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-text72 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.index-text73 {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text74 {
  font-weight: 700;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.index-text76 {
  color: rgb(103, 116, 142);
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.index-k-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.index-k-image {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  justify-content: center;
}
.index-k-image:hover {
  transform: scale(1.04);
}
.index-image13 {
  width: 283px;
  height: 293px;
  object-fit: cover;
}
.index-k-description {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.index-social {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.index-text77 {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-design {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.index-text79 {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-induvidual {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.index-text81 {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-k-find-out {
  text-decoration: none;
}
.index-divider {
  flex: 0 0 auto;
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.25;
  margin-top: 4rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 4rem;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.index-p-a-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-p-a-symbol {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius75);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.index-icon16 {
  fill: var(--dl-color-gray-800);
  width: 24px;
  height: 24px;
}
.index-text83 {
  margin-top: var(--dl-space-space-unitandahalfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-text84 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.index-text85 {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text86 {
  font-weight: 700;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.index-text88 {
  color: rgb(103, 116, 142);
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.index-p-a-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.index-p-a-description {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.index-always-open {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.index-text89 {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-fill-your-pockets {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.index-text91 {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-pet-plaza {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.index-text93 {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-p-a-find-out {
  text-decoration: none;
}
.index-p-a-image {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  justify-content: center;
}
.index-p-a-image:hover {
  transform: scale(1.04);
}
.index-image14 {
  width: 253px;
  height: 271px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .index-nav {
    max-width: 960px;
  }
  .index-menu {
    display: none;
  }
  .index-t-o-p1 {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .index-t-o-p-main {
    max-width: 960px;
  }
  .index-welcome {
    width: 100%;
  }
  .index-features {
    max-width: 960px;
  }
  .index-roadmap {
    max-width: 960px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .index-container10 {
    max-width: 80%;
  }
  .index-text14 {
    text-align: center;
  }
  .index-r-image {
    width: 810px;
    height: 359px;
    margin-left: auto;
    margin-right: auto;
  }
  .index-r-main {
    width: 950px;
    position: relative;
  }
  .index-r-text {
    width: 429px;
  }
  .index-text18 {
    width: 90%;
  }
  .index-t-o-a {
    margin-left: 34px;
    margin-right: var(--dl-space-space-sixunits);
  }
  .index-t-container {
    height: 725px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    justify-content: center;
  }
  .index-t-text {
    align-self: center;
    align-items: center;
    margin-right: var(--dl-space-space-twelveunits);
    justify-content: flex-start;
  }
  .index-t-image {
    display: none;
  }
  .index-k-and-p-a {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .index-k-description {
    width: 45%;
    margin-left: var(--dl-space-space-unit);
  }
  .index-p-a-description {
    width: 45%;
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .index-burger-menu {
    display: flex;
  }
  .index-welcome {
    align-items: flex-start;
  }
  .index-w-main {
    text-align: left;
    margin-right: 0px;
    padding-right: 0px;
  }
  .index-w-backing {
    display: none;
  }
  .index-features {
    max-width: 720px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .index-container06 {
    width: 50%;
  }
  .index-container07 {
    width: 50%;
  }
  .index-container08 {
    width: 50%;
  }
  .index-container09 {
    width: 50%;
  }
  .index-roadmap {
    max-width: 720px;
  }
  .index-roadmap1 {
    width: 100%;
    height: 100%;
  }
  .index-r-image {
    width: 100%;
    height: 317px;
  }
  .index-r-main {
    width: 100%;
  }
  .index-r-text {
    width: 100%;
  }
  .index-t-o-a {
    display: none;
  }
  .index-t-container {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .index-k-header {
    width: 80%;
  }
  .index-text75 {
    text-align: center;
  }
  .index-k-main {
    flex-direction: column;
  }
  .index-k-description {
    width: 80%;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
    margin-left: 0px;
  }
  .index-divider {
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .index-p-a-header {
    width: 80%;
  }
  .index-text87 {
    text-align: center;
  }
  .index-p-a-main {
    margin-top: 0px;
    flex-direction: column;
  }
  .index-p-a-description {
    width: 80%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .index-header {
    max-width: 100%;
    min-width: 100%;
  }
  .index-nav {
    max-width: 100%;
    min-width: 100%;
  }
  .index-container03 {
    display: none;
  }
  .index-t-o-p1 {
    padding-top: 28px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .index-t-o-p-main {
    max-width: 100%;
    min-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .index-welcome {
    padding: var(--dl-space-space-unit);
  }
  .index-w-header-1 {
    width: 100%;
    text-align: center;
  }
  .index-w-header2 {
    width: 100%;
    text-align: center;
  }
  .index-w-main {
    width: 100%;
    align-self: flex-start;
    text-align: center;
  }
  .index-w-buttons {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-features {
    width: 100%;
  }
  .index-container06 {
    width: 100%;
  }
  .index-container07 {
    width: 100%;
  }
  .index-container08 {
    width: 100%;
  }
  .index-container09 {
    width: 100%;
  }
  .index-roadmap {
    max-width: 100%;
    min-width: 100%;
    align-self: center;
    max-height: 100%;
    min-height: 100%;
    align-items: center;
  }
  .index-r-image {
    width: 401px;
    height: 171px;
  }
  .index-r-main {
    width: 100%;
    align-self: center;
  }
  .index-r-text {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .index-text18 {
    width: 100%;
  }
  .index-t-o-a {
    display: none;
  }
  .index-tech {
    align-items: center;
  }
  .index-t-container {
    height: 100%;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .index-container11 {
    align-items: center;
  }
  .index-t-text {
    width: 478px;
    align-items: center;
    margin-right: 0px;
    padding-left: 31px;
    padding-right: 32px;
  }
  .index-text75 {
    text-align: center;
  }
  .index-text87 {
    text-align: center;
  }
}
