.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #000000;
}
.navigation-links-text1 {
  color: #000000;
  margin-left: 32px;
}
.navigation-links-text2 {
  color: #000000;
  margin-left: 32px;
}
.navigation-links-text3 {
  color: #000000;
  margin-left: 32px;
}
.navigation-links-text4 {
  color: #000000;
  margin-left: 32px;
}










.navigation-links-root-class-name10 {
  align-self: flex-end;
}






@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.kennels-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.kennels-header {
  flex: 0 0 auto;
  width: 100%;
  height: 159px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  padding-top: 1.5rem;
  flex-direction: row;
  padding-bottom: 1.5rem;
  justify-content: space-between;
}
.kennels-navlink {
  display: contents;
}
.kennels-image {
  width: 213px;
  height: 142px;
  object-fit: cover;
  text-decoration: none;
}
.kennels-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.kennels-icon {
  width: 24px;
  height: 24px;
}
.kennels-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.kennels-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.kennels-navlink1 {
  color: #000000;
  text-decoration: none;
}
.kennels-navlink2 {
  color: #000000;
  margin-left: 32px;
  text-decoration: none;
}
.kennels-navlink3 {
  color: #000000;
  margin-left: 32px;
  text-decoration: none;
}
.kennels-text {
  color: #000000;
  margin-left: 32px;
}
.kennels-text01 {
  color: #000000;
  margin-left: 32px;
}
.kennels-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.kennels-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.kennels-navlink4 {
  display: contents;
}
.kennels-heading {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.kennels-close-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.kennels-icon2 {
  width: 24px;
  height: 24px;
}
.kennels-mid {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.kennels-kennel-section1 {
  width: 100%;
  height: 208px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.kennels-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.kennels-text02 {
  width: 100%;
  height: 62px;
  text-align: center;
}
.kennels-text03 {
  width: 100%;
  height: 100%;
  text-align: center;
}
.kennels-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kennels-textinput {
  width: 21px;
  height: 22px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.kennels-button {
  margin-left: 15px;
  background-color: var(--dl-color-pimary-500);
}
.kennels-kennel-main-picture {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.kennels-text08 {
  width: 100%;
  text-align: center;
}
.kennels-container4 {
  flex: 0 0 auto;
  width: 1175px;
  height: 380px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-end;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.kennels-image1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.kennels-pet-picture {
  top: 81px;
  flex: 0 0 auto;
  right: 102px;
  width: 174px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 193px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.kennels-kennel-main-picture1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.kennels-text10 {
  color: var(--dl-color-gray-900);
  width: 100%;
  text-align: center;
}
.kennels-image2 {
  width: 1175px;
  height: 380px;
  align-self: center;
  object-fit: cover;
}
.kennels-image3 {
  width: 1175px;
  height: 380px;
  align-self: center;
  object-fit: cover;
}
.kennels-container5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.kennels-navlink5 {
  display: contents;
}
.kennels-image4 {
  width: 282px;
  height: 166px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .kennels-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
  .kennels-image4 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .kennels-header {
    background-color: var(--dl-color-gray-white);
  }
  .kennels-burger-menu {
    display: flex;
  }
  .kennels-container1 {
    display: none;
    align-items: flex-start;
  }
  .kennels-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .kennels-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .kennels-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .kennels-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .kennels-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .kennels-text01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .kennels-mobile-menu {
    width: 478px;
    height: 408px;
    display: none;
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .kennels-container5 {
    align-items: center;
    justify-content: center;
  }
  .kennels-image4 {
    width: 231px;
    height: 136px;
    align-self: center;
  }
}
