.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.footer-image {
  width: 366px;
  height: 223px;
  object-fit: cover;
}
.rootClassName {
  height: 100%;
  align-self: center;
  background-color: #ffffff;
}
@media(max-width: 479px) {
  .footer-container {
    align-items: center;
    justify-content: center;
  }
  .footer-image {
    width: 187px;
    height: 115px;
  }
}
