.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.footer-container1 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.footer-container2 {
  width: 137px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.footer-image {
  width: 272px;
  height: 158px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .footer-container1 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container2 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}
