<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-container1">
      <div class="footer-container2">
        <img
          src="../public/playground_assets/untitled_artwork%20%5B3%5D-200h.jpg"
          alt="image"
          class="footer-image"
        />
      </div>
      <div class="footer-container3">
        <div class="footer-container4">
          <span class="footer-text textXS">USEFUL LINK</span>
          <span class="footer-text01 textSM">About Us</span>
          <span class="footer-text02 textSM">Blog</span>
          <span class="footer-text03 textSM">Github</span>
          <span class="footer-text04 textSM">Free Products</span>
        </div>
        <div class="footer-container5">
          <span class="footer-text05 textXS">OTHER RESOURCES</span>
          <span class="footer-text06 textSM">License</span>
          <span class="footer-text07 textSM">Terms &amp; Conditions</span>
          <span class="footer-text08 textSM">Privacy Policy</span>
          <span class="footer-text09 textSM">Contact Us</span>
        </div>
      </div>
    </div>
  </div>
</div>
