.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text {
  color: #ffffff;
}
.navigation-links2-text1 {
  color: #ffffff;
  margin-left: 32px;
}
.navigation-links2-text2 {
  color: #ffffff;
  margin-left: 32px;
}
.navigation-links2-text3 {
  color: #ffffff;
  margin-left: 32px;
}
.navigation-links2-text4 {
  color: #ffffff;
  margin-left: 32px;
}








@media(max-width: 767px) {
  .navigation-links2-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.header1-header {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #000000;
}
.header1-nav {
  display: flex;
}
.header1-burger-menu {
  display: none;
}
.header1-icon {
  width: 16px;
  height: 16px;
}
.header1-container {
  width: 163px;
  height: 99px;
  display: flex;
  background-size: cover;
  background-image: url("../public/playground_assets/untitled_artwork2-200h.jpg");
}
.header1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.header1-image {
  height: 2rem;
}
.header1-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1-icon02 {
  width: 16px;
  height: 16px;
}
.header1-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.header1-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.header1-icon08 {
  width: 16px;
  height: 16px;
}
@media(max-width: 767px) {
  .header1-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header1-nav {
    display: none;
  }
  .header1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header1-icon {
    fill: #ffffff;
    width: 108px;
    height: 37px;
  }
}
@media(max-width: 479px) {
  .header1-header {
    padding: var(--dl-space-space-unit);
  }
  .header1-burger-menu {
    background-color: #000000;
  }
  .header1-icon {
    fill: #ffffff;
    width: 28px;
    height: 39px;
    list-style-type: disc;
    list-style-image: none;
    list-style-position: outside;
  }
  .header1-mobile-menu {
    padding: 16px;
  }
}
